/* Author : Valéry Bruniaux
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.

 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 */

 @charset "UTF-8";

 @font-face {
	font-family: "ledbright";
	src: url("../fonts/ledbright.ttf");
 }

 body {
	 /*-webkit-font-smoothing: antialiased;*/
	 font-size: 120%;
	 font-weight: normal;
	 font-style: normal;
	 color: black;
     /* text-rendering: geometricPrecision; */
	 text-rendering: optimizeLegibility;
	 /* overflow:hidden; */
	 /* width: 210mm; */
	 /* width: 100vw; */
 }
 
 body, p, .warning, .inlinewarning {
	 font-family: "Souvenir Lt Bt", Andika, "Amerigo BT", Century, "Bookman URW", "Bitstream Vera Serif", "Free Sans", Georgia, Serif, Aerial, "Times New Roman", "STSong", "PT Serif";
	 line-height: 1.5rem;
 }
 
 .toc-title {
	 color:red;
 }

 p, ul {
	 text-align: justify;
	 margin : 0.1rem 0 0 0;
 }
 
 sub, sup {
	 font-size: 70%;
 }

 header > p.title {
	 font-family: ledbright;
	 font-size: 200%;
	 text-align: center;
	 border: 3px solid black;
	 border-radius: 4px;
	 padding : 0.5rem;
	 box-shadow: 5px 5px 5px #222;
	 /* background: lightgrey; */

	}

 h1, h2, h3, h4, h5, h6, .title:not(header>p.title) {
	 font-family: OpenDyslexic, "Lucida Sans", "Bitstream Vera Sans", "Arial Rounded MT Bold", Arbeka, "Lucida Grande", "Lucida Sans Unicode", "Luxi Sans", "Lato", sans-serif, "Aerial";
	 font-weight: bold;
	 /* font-style: italic; */
	 line-height: 2rem;
 }

 .title:not(header>p.title) {
	 font-size: 200%;
	 text-align: center;
	 border: 1px solid black;
	 border-radius: 10px;
	 padding : 0.5rem;
	 box-shadow: 3px 3px 3px #aaa;
	 background: lightgrey;
 }
 
 h1 {
	 font-size: 150%;
	 margin-top : 1rem;
	 margin-bottom : 0.5rem;
	 border-bottom : 1px solid grey;
	 background-color: lightgrey;
 }
 
 
 h2 {
	 font-size: 125%;
	 margin-top : 0.5rem;
	 margin-bottom : -0.1rem;
	 text-decoration: underline;
 }
 
 h3 {
	 font-size: 110%;
	 margin-top : 0.5rem;
	 margin-bottom : -0.20rem;
 }
 
 .header-section-number:after {
	 content: ') ';
 }
 
 table {
	 border-collapse: collapse;
	 margin-top: 0.5rem;
	 margin-bottom: 0.5rem;
	 margin-left:auto; 
	 margin-right:auto;
	 width: 75%;
 }
 
 table, th, td {
	 border: 1px solid black;
	 padding: 5px;
	 font-weight: normal;
	 font-style: normal;
 }
 
 tr:nth-child(even), th {
	 background-color: lightgrey;
 }
 
 /* ul li {
	 text-align: justify;
	 list-style: none;
 } */
 
 /* ul li:before {
	 content: '➫ ';
	 content: "❑";
 } */
 
 .cols {
	 display: table;
	 width: 100%;
	 border-collapse: collapse;
 }
 
 .col12 {
   display: table-cell;
   width: 50%;
   padding: 0 0.5em 0 0;
   border-right: 1px solid;
 }
 
 .col22 {
   display: table-cell;
   width: 50%;
   padding: 0 0 0 0.5em;
   border-left: 1px solid;
 }
 
 .col13 {
   display: table-cell;
   width: 33.33333%;
   padding: 0 0.4em 0 0;
   border-right: 1px solid;
 }
 
 .col23 {
   display: table-cell;
   width: 33.33333%;
   padding: 0 0.4em 0 0.4em;
   border-left: 1px solid;
 }
 
 .col33 {
   display: table-cell;
   width: 33.33333%;
   padding: 0 0 0 0.4em;
   border-left: 1px solid;
 }
 
 .warning {
	 margin-left:auto; 
	 margin-right:auto;
	 width: 98%;
	 background-color: yellow;
	 font-size: 120%;
	 line-height: 2rem;
	 text-align: center;
	 border: 1px solid black;
	 border-radius: 10px;
	 padding : 0.5rem;
	 box-shadow: 3px 3px 3px #aaa;
 }
 
 .inlinewarning {
	 background-color: yellow;
	 text-decoration: underline;
 }
 
 img {
	 /* position: absolute; */
	 border: 1px solid #ddd;
	 border-radius: 4px;
	 margin:auto;
	 text-align: center;
	 padding: 5px;
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	 /*width:100%;  /* for image to resize correctly with custom with. DO NOT REMOVE */
	 /* max-width:100%;
	 max-height:100%; */

	}
 
 .noimgbox, img[src*="data:image/svg+xml"] {
	border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
}

.imgbox {
	/* Uncomment the following lines to remove default behavior and */
	/* start from removing default image box css */
	/* border: none;
	border-radius: 0;
	padding: 0;
	box-shadow: none; */

	/* Your custom image box css comes here */
}

 figure {
	 text-align: center;
	 font-style: italic;
	 font-size: smaller;
	 text-indent: 0;
	 margin: 0em;
	 padding: 0em;
	 /* overflow:hidden; */
	 width: 100%;
	 height:auto;
 }
 
 figcaption {
}
 
 /* CUSTOM BLUE LEFT LINE */
 blockquote {
	 /* User agent Default Style :
	 /* display: block; */
	 padding: 0.2em 0.5em 0.2em 1.5em;
	 box-shadow: inset 0.5em 0em #78b5de;
	 background-color: #f2f2f2;
	 /* User agent Default Style :
	 margin-block-start: 1em;
     margin-block-end: 1em;
     margin-inline-start: 40px;
     margin-inline-end: 40px; */
	}
	
	blockquote blockquote {
	 /* Default: */
	 /* display: block; */
	 padding: 0.1em 0 0.1em 1.5em;
	 box-shadow: inset 0.5em 0em #ad7777;
	 background-color: #f2f2f2;
	 margin-block-start: 0.2em;
     margin-block-end: 0.2em;
     margin-inline-start: 0.2em;
     margin-inline-end: 0.2em;
 }
 
 .center {
	 display: block;
	 /* margin: auto; */
	 margin: 10px auto 10px auto;
	 text-align: center;
 }
 
 .floatleft {
	 float: left;
	 text-align: center;
	 font-style: italic;
	 font-size: smaller;
	 text-indent: 0;
	 margin: 0;
	 margin-right:1.5em;
	 /* padding: 0em 0.5em 0 0; */
	 padding: 0.5em;
 }
 
 .floatright {
	 float: right;
	 text-align: center;
	 font-style: italic;
	 font-size: smaller;
	 text-indent: 0;
	 margin: 0;
	 margin-left:1.5em;;
	 padding: 0.5em;
 }

 .clearboth {
	 /* text-align: center; */
	 clear:both;
	 border:none;
	 box-shadow:none;
 }
 
 p, td, div, ul, li {
	 -webkit-hyphens: auto;
	 -moz-hyphens: auto;
	 -ms-hyphens: auto;
	 -o-hyphens: auto;
	 hyphens: auto;
	 word-wrap: break-word;
	 word-break: break-word;
 }
 
 .pagebreakbefore, .newpage {
	 page-break-before: always;
 }
 
 .pagebreakafter {
	 page-break-after: always;
 }

 @page
 {
	 size: 21cm 29.7cm;
	 margin: 0.75cm 1cm 1cm 1cm;
 /*
	 margin:0;
	 padding: 0.75cm 1cm 1cm 1cm;
 */
 }
 
 @media print
 {
	 p
	 {
		 widows: 1;
		 orphans: 1;
	 }
	 
	 /* ATTENTION : AUCUN ESPACE avant le {.pagebr..} du md !!! */
	 .pagebreakbefore, .newpage
	 {
		 page-break-before: always;
	 }
 
	 /* ATTENTION : AUCUN ESPACE avant le {.pagebr..} du md !!! */
	 .pagebreakafter
	 {
		 page-break-after: always;
	 }

	 /* div, code, pre, blockquote, li, span, table */
	code.sourCode, pre.sourceCode, blockquote, table
	 {
		 page-break-inside: avoid;
	 }
 
	 h1, h2, h3, h4
	 {
		 page-break-after: avoid;
	 }
	 
	 img {
		 /* margin:auto; */
		 margin: 10px 0 15px 0;
		 filter: drop-shadow(6px 6px 5px #666666);
		 box-shadow: 6px 6px 6px #666666;
	 }
 

 }
 
 
 
 